.container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 12rem;
}

.headshot {
    width: 12rem;
    height: 12rem;
    object-fit: contain;
}

.container h3, .container p {
    margin: 0.25rem 0;
    text-align: center;
}