.form {
    display: flex;
    flex-direction: column;
}

.form input {
    outline: none;
}

.form textarea {
    outline: none;
    resize: vertical;
}

.submitBtn {
    width: 10%;
    margin-top: 1rem;
    outline: none;
    cursor: pointer;
}